/* skins/dark.scss */
:root {
  --background-style: linear-gradient(to top right, #212529, #495057);
  --text-color: #F8F9FA;
  --primary-color: #17A2B8;
  --button-color: #343A40;
  --button-text-color: #F8F9FA;
  --button-hover-color: #495057;
  --shadow-color: rgba(0, 0, 0, 0.3);
}
