/* skins/ocean.scss */
:root {
  --background-style: linear-gradient(to top right, #EAF6FF, #B8D9F1);
  --text-color: #033E6B;
  --primary-color: #007BFF;
  --button-color: #FFFFFF;
  --button-text-color: #033E6B;
  --button-hover-color: #D4E9F7;
  --shadow-color: rgba(3, 62, 107, 0.1);
}
